{% comment %} {% extends 'root_email_template_new.html' %} {% block heading %}
Hi {{email}} {% endblock heading %} {% if message == 'activated' %} {% block
content_body %} Your account has been activated by {{status_changed_user}}. You
can login to your account and access all the features of Django CRM. {% endblock
content_body %} {% block button_link %} {% if url %}
<div style="margin-bottom: 20px">
  <a
    href="{{password_reset_url}}"
    style="
      display: inline-block;
      width: 170px;
      background: #38abdd;
      padding: 10px;
      text-align: center;
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      margin: 0px auto;
      margin-bottom: 20px;
      border-radius: 5px;
      text-decoration: none;
      display: block;
    "
    >Reset Password</a
  >
</div>
{% endif %} {% endblock button_link %} {% endif %} {% endcomment %}


{% extends'root_email_template_new.html' %}
{% block heading %} Hi {{user_email}}
{%endblock heading %} {% block content_body %} You requested a password reset for
your account. Please click the button below to set a new password. {% endblock
content_body %}
{% block button_link %}
<div style="margin-bottom: 20px">
  <a
    href="{{password_reset_url}}"
    style="
      display: inline-block;
      width: 170px;
      background: #38abdd;
      padding: 10px;
      text-align: center;
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      margin: 0px auto;
      margin-bottom: 20px;
      border-radius: 5px;
      text-decoration: none;
      display: block;
    "
    >Reset Password</a
  >
</div>



